<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

How to create Dataframe in Spark-

A Spark DataFrame is a distributed collection of data organized into named columns, conceptually equivalent to a table in a relational database or a data frame in R/Python, but with richer optimizations for big data processing.

In [13]:
my_data = [
(1 , 1,),
(2 , 3,),
(3, 4,),
]

In [14]:
my_schema=['id','value']

In [15]:
spark.createDataFrame(data=my_data,schema=my_schema).show()

+---+-----+
| id|value|
+---+-----+
|  1|    1|
|  2|    3|
|  3|    4|
+---+-----+