<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

How to read json file in json?

Types of json-

1. Line-delimited json

2. Multilined json

3. Nested json

In [2]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("Read CSV Example") \
    .getOrCreate()

# Read CSV file
df = spark.read.format("json") \
    .option("inferSchema", "true") \
    .option("header", "true") \
    .load("/content/line-delimited.json")

# Show data
df.show()

# Check schema
df.printSchema()

+---+---------+---+-------+-----+
|age|     city| id|   name|score|
+---+---------+---+-------+-----+
| 21|   Indore|  1|Tanisha| 88.5|
| 23|    Delhi|  2|   Aman| 76.0|
| 22|   Mumbai|  3|   Riya| 91.2|
| 24|Bangalore|  4|  Kunal| 69.8|
| 21|     Pune|  5|  Sneha| 84.3|
+---+---------+---+-------+-----+

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- score: double (nullable = true)

In [6]:
df1=spark.read.format("json") \
    .option("inferSchema","true") \
    .option("multiline","true") \
    .load("/content/Multilined.json")
df1.show()
df1.printSchema()

+---+---------+---+-------+-----+
|age|     city| id|   name|score|
+---+---------+---+-------+-----+
| 21|   Indore|  1|Tanisha| 88.5|
| 23|    Delhi|  2|   Aman| 76.0|
| 22|   Mumbai|  3|   Riya| 91.2|
| 24|Bangalore|  4|  Kunal| 69.8|
| 21|     Pune|  5|  Sneha| 84.3|
+---+---------+---+-------+-----+

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- score: double (nullable = true)

In [7]:
df1=spark.read.format("json") \
    .option("inferSchema","true") \
    .option("multiline","true") \
    .load("/content/Nested.json")
df1.show()
df1.printSchema()

+-------------------+--------------------+------------+--------------------+
|          education|            location|      scores|                user|
+-------------------+--------------------+------------+--------------------+
|{CSE, KIIT, B.Tech}|{Indore, India, M...|{85, 88, 92}|{21, {tanisha@gma...|
|  {IT, DTU, B.Tech}|{Delhi, India, De...|{72, 75, 78}|{23, {aman@gmail....|
+-------------------+--------------------+------------+--------------------+

root
 |-- education: struct (nullable = true)
 |    |-- branch: string (nullable = true)
 |    |-- college: string (nullable = true)
 |    |-- degree: string (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- state: string (nullable = true)
 |-- scores: struct (nullable = true)
 |    |-- cloud: long (nullable = true)
 |    |-- math: long (nullable = true)
 |    |-- ml: long (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- contact: struct (nullable = true)
 |    |    |-- email: string (nullable = true)
 |    |    |-- phone: string (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- name: string (nullable = true)