<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Unique and sorted Records

In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("Read CSV Example") \
    .getOrCreate()

In [3]:

data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',90000,  18),
(18 ,'Sam',65000,   17)
     ]
emp_data=spark.createDataFrame(data,['emp_id','emp_name','emp_salary','emp_age'])

In [4]:
emp_data.distinct().show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    15|   Mohit|     45000|     18|
|    10|    Anil|     50000|     18|
|    14|   Priya|     80000|     18|
|    12|   Nisha|     40000|     18|
|    11|   Vikas|     75000|     16|
|    13|   Nidhi|     60000|     17|
|    16|  Rajesh|     90000|     10|
|    14|   Priya|     90000|     18|
|    18|     Sam|     65000|     17|
|    17|   Raman|     55000|     16|
+------+--------+----------+-------+

In [5]:
emp_data.select("emp_id","emp_name").distinct().show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|    10|    Anil|
|    13|   Nidhi|
|    15|   Mohit|
|    11|   Vikas|
|    12|   Nisha|
|    14|   Priya|
|    17|   Raman|
|    18|     Sam|
|    16|  Rajesh|
+------+--------+

In [6]:
emp_data.dropDuplicates().show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    15|   Mohit|     45000|     18|
|    10|    Anil|     50000|     18|
|    14|   Priya|     80000|     18|
|    12|   Nisha|     40000|     18|
|    11|   Vikas|     75000|     16|
|    13|   Nidhi|     60000|     17|
|    16|  Rajesh|     90000|     10|
|    14|   Priya|     90000|     18|
|    18|     Sam|     65000|     17|
|    17|   Raman|     55000|     16|
+------+--------+----------+-------+

In [7]:
emp_data.dropDuplicates(['emp_name','emp_id']).show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    12|   Nisha|     40000|     18|
|    15|   Mohit|     45000|     18|
|    10|    Anil|     50000|     18|
|    13|   Nidhi|     60000|     17|
|    14|   Priya|     80000|     18|
|    11|   Vikas|     75000|     16|
|    18|     Sam|     65000|     17|
|    16|  Rajesh|     90000|     10|
|    17|   Raman|     55000|     16|
+------+--------+----------+-------+

In [ ]:
emp_data.sort(col("emp_salary")).show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    12|   Nisha|     40000|     18|
|    15|   Mohit|     45000|     18|
|    15|   Mohit|     45000|     18|
|    10|    Anil|     50000|     18|
|    17|   Raman|     55000|     16|
|    13|   Nidhi|     60000|     17|
|    13|   Nidhi|     60000|     17|
|    18|     Sam|     65000|     17|
|    18|     Sam|     65000|     17|
|    11|   Vikas|     75000|     16|
|    14|   Priya|     80000|     18|
|    16|  Rajesh|     90000|     10|
|    14|   Priya|     90000|     18|
+------+--------+----------+-------+

In [9]:
from pyspark.sql.functions import *

In [10]:
emp_data.sort(col("emp_salary").desc()).show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    16|  Rajesh|     90000|     10|
|    14|   Priya|     90000|     18|
|    14|   Priya|     80000|     18|
|    11|   Vikas|     75000|     16|
|    18|     Sam|     65000|     17|
|    18|     Sam|     65000|     17|
|    13|   Nidhi|     60000|     17|
|    13|   Nidhi|     60000|     17|
|    17|   Raman|     55000|     16|
|    10|    Anil|     50000|     18|
|    15|   Mohit|     45000|     18|
|    15|   Mohit|     45000|     18|
|    12|   Nisha|     40000|     18|
+------+--------+----------+-------+

In [11]:
emp_data.sort(col("emp_salary").asc()).show()

+------+--------+----------+-------+
|emp_id|emp_name|emp_salary|emp_age|
+------+--------+----------+-------+
|    12|   Nisha|     40000|     18|
|    15|   Mohit|     45000|     18|
|    15|   Mohit|     45000|     18|
|    10|    Anil|     50000|     18|
|    17|   Raman|     55000|     16|
|    13|   Nidhi|     60000|     17|
|    13|   Nidhi|     60000|     17|
|    18|     Sam|     65000|     17|
|    18|     Sam|     65000|     17|
|    11|   Vikas|     75000|     16|
|    14|   Priya|     80000|     18|
|    16|  Rajesh|     90000|     10|
|    14|   Priya|     90000|     18|
+------+--------+----------+-------+