<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

Aggregation in Spark-Collecting something togethor

Count

Min

Max

Average

In [2]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]
my_schema=['id','name','age','salary','country','dept']
df=spark.createDataFrame(data=emp_data,schema=my_schema)

In [3]:
df.count()

10

In [7]:
from pyspark.sql.functions import count
df.select(count('salary')).show()
##Discards null value

+-------------+
|count(salary)|
+-------------+
|            8|
+-------------+

All Aggregation Functions

In [11]:
from pyspark.sql.functions import min, max, avg
df.select(min('salary').alias('total sal'), max('salary').alias('max_sal'), avg('salary').alias('avg_sal'),count('salary').alias('cnt')).show()

+---------+-------+-------+---+
|total sal|max_sal|avg_sal|cnt|
+---------+-------+-------+---+
|    20000| 200000|70000.0|  8|
+---------+-------+-------+---+