<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Transformations(2) in Spark

In [23]:
from pyspark.sql import SparkSession

In [24]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("Read CSV Example") \
    .getOrCreate()

# Read CSV file
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema","true") \
    .load("/content/employees.csv")


# Show data
df.show()

# Check schema
df.printSchema()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows
root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

1. Alias

In [25]:
df.select(col("First Name").alias("fn") , col("Salary").alias("sn")).show()

+--------+------+
|      fn|    sn|
+--------+------+
| Douglas| 97308|
|  Thomas| 61933|
|   Maria|130590|
|   Jerry|138705|
|   Larry|101004|
|  Dennis|115163|
|    Ruby| 65476|
|    NULL| 45906|
|  Angela| 95570|
| Frances|139852|
|  Louise| 63241|
|   Julie|102508|
| Brandon|112807|
|    Gary|109831|
|Kimberly| 41426|
| Lillian| 59414|
|  Jeremy| 90370|
|   Shawn|111737|
|   Diana|132940|
|   Donna| 81014|
+--------+------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [6]:
df.select(col("First Name")).show()

+----------+
|First Name|
+----------+
|   Douglas|
|    Thomas|
|     Maria|
|     Jerry|
|     Larry|
|    Dennis|
|      Ruby|
|      NULL|
|    Angela|
|   Frances|
|    Louise|
|     Julie|
|   Brandon|
|      Gary|
|  Kimberly|
|   Lillian|
|    Jeremy|
|     Shawn|
|     Diana|
|     Donna|
+----------+
only showing top 20 rows

2. Filter/Where - Both are same

In [39]:
df.where((col("Salary") > 15000) & (col("Bonus %") > 5)).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Matthew|  Male|  9/5/1995|        2:12 AM|100612| 13.645|            false|           Marketing|
|    Joshua|  NULL|  3/8/2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
|      NULL|  Male| 6/14/2012|        4:19 PM|125792|  5.042|             NULL|                NULL|
|      John|  Male|  7/1/1992|       10:08 PM| 97950| 13.873|            false|     Client Services|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

3. Adding columns

In [31]:
df.withColumn("Surname" , lit("Singh")).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+-------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Surname|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+-------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|  Singh|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|  Singh|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|  Singh|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|  Singh|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|  Singh|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|  Singh|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|  Singh|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|  Singh|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|  Singh|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|  Singh|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|  Singh|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|  Singh|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|  Singh|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|  Singh|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|  Singh|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|  Singh|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|  Singh|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|  Singh|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|  Singh|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|  Singh|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+-------+
only showing top 20 rows

4. Rename Column

In [33]:
df.withColumnRenamed("First Name","fn").show()

+--------+------+----------+---------------+------+-------+-----------------+--------------------+
|      fn|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
| Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|  Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|
|   Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|   Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|   Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|  Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|    Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|    NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|  Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
| Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|  Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|   Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
| Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|    Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
| Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|  Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|   Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|   Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

5. Casting data type

In [40]:
df.withColumn("Salary_as_int",col("Salary").cast("Integer")).printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)
 |-- Salary_as_int: integer (nullable = true)

6. Removing columns

In [35]:
df.drop("First Name").show()

+------+----------+---------------+------+-------+-----------------+--------------------+
|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+------+----------+---------------+------+-------+-----------------+--------------------+
|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|
|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [9]:
df.select("First Name","Salary").show()

+----------+------+
|First Name|Salary|
+----------+------+
|   Douglas| 97308|
|    Thomas| 61933|
|     Maria|130590|
|     Jerry|138705|
|     Larry|101004|
|    Dennis|115163|
|      Ruby| 65476|
|      NULL| 45906|
|    Angela| 95570|
|   Frances|139852|
|    Louise| 63241|
|     Julie|102508|
|   Brandon|112807|
|      Gary|109831|
|  Kimberly| 41426|
|   Lillian| 59414|
|    Jeremy| 90370|
|     Shawn|111737|
|     Diana|132940|
|     Donna| 81014|
+----------+------+
only showing top 20 rows

In [36]:
df.createOrReplaceGlobalTempView("emp_tb")

In [37]:
spark.sql("""
select * from global_temp.emp_tb
""").show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [19]:
df.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [41]:
spark.sql("""
select salary  from global_temp.emp_tb where salary > 15000
""").show()

+------+
|salary|
+------+
| 97308|
| 61933|
|130590|
|138705|
|101004|
|115163|
| 65476|
| 45906|
| 95570|
|139852|
| 63241|
|102508|
|112807|
|109831|
| 41426|
| 59414|
| 90370|
|111737|
|132940|
| 81014|
+------+
only showing top 20 rows

In [47]:
spark.sql("""
select *, "kumar" as `last name`,"id" as emp_id from global_temp.emp_tb
""").show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+---------+------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|last name|emp_id|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+---------+------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|    kumar|    id|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                NULL|    kumar|    id|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|    kumar|    id|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|    kumar|    id|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|    kumar|    id|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|    kumar|    id|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|    kumar|    id|
|      NULL|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             NULL|             Finance|    kumar|    id|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|    kumar|    id|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|    kumar|    id|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                NULL|    kumar|    id|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|    kumar|    id|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|    kumar|    id|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|    kumar|    id|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|    kumar|    id|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|    kumar|    id|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|    kumar|    id|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|    kumar|    id|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|    kumar|    id|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|    kumar|    id|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+---------+------+
only showing top 20 rows

In [48]:
spark.sql("""
select *, "kumar" as `last name`,"id" as emp_id from global_temp.emp_tb
""").printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)
 |-- last name: string (nullable = false)
 |-- emp_id: string (nullable = false)