<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

Lag and Lead Function in Spark

In [10]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema = ['emp_id','emp_name','salary','dept','gender']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df.show()

+------+--------+------+---------+------+
|emp_id|emp_name|salary|     dept|gender|
+------+--------+------+---------+------+
|     1|  manish| 50000|       IT|     m|
|     2|  vikash| 60000|    sales|     m|
|     3| raushan| 70000|marketing|     m|
|     4|  mukesh| 80000|       IT|     m|
|     5|   priti| 90000|    sales|     f|
|     6|  nikita| 45000|marketing|     f|
|     7|  ragini| 55000|marketing|     f|
|     8|   rashi|100000|       IT|     f|
|     9|  aditya| 65000|       IT|     m|
|    10|   rahul| 50000|marketing|     m|
|    11|   rakhi| 50000|       IT|     f|
|    12|akhilesh| 90000|    sales|     m|
+------+--------+------+---------+------+

In [12]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, lead, col

window_spec = Window.partitionBy("dept").orderBy("salary")

emp_lag_lead_df = emp_df \
    .withColumn("prev_salary", lag("salary", 1).over(window_spec)) \
    .withColumn("next_salary", lead("salary", 1).over(window_spec))

emp_lag_lead_df.show()

+------+--------+------+---------+------+-----------+-----------+
|emp_id|emp_name|salary|     dept|gender|prev_salary|next_salary|
+------+--------+------+---------+------+-----------+-----------+
|     1|  manish| 50000|       IT|     m|       NULL|      50000|
|    11|   rakhi| 50000|       IT|     f|      50000|      65000|
|     9|  aditya| 65000|       IT|     m|      50000|      80000|
|     4|  mukesh| 80000|       IT|     m|      65000|     100000|
|     8|   rashi|100000|       IT|     f|      80000|       NULL|
|     6|  nikita| 45000|marketing|     f|       NULL|      50000|
|    10|   rahul| 50000|marketing|     m|      45000|      55000|
|     7|  ragini| 55000|marketing|     f|      50000|      70000|
|     3| raushan| 70000|marketing|     m|      55000|       NULL|
|     2|  vikash| 60000|    sales|     m|       NULL|      90000|
|     5|   priti| 90000|    sales|     f|      60000|      90000|
|    12|akhilesh| 90000|    sales|     m|      90000|       NULL|
+------+--------+------+---------+------+-----------+-----------+