<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

Group By in Spark

In [14]:
emp_data=[
(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')
]
my_schema=['id','name','salary','dept']
df=spark.createDataFrame(data=emp_data,schema=my_schema)

In [16]:
from pyspark.sql.functions import sum, count
df.groupBy('dept') \
   .agg(sum('salary').alias('total_sum'), count('salary').alias('count_salary')).show()

+---------+---------+------------+
|     dept|total_sum|count_salary|
+---------+---------+------------+
|marketing|   220000|           4|
|    sales|   150000|           2|
|       IT|   295000|           4|
+---------+---------+------------+

In [20]:
from pyspark.sql.functions import count
df.groupBy('salary', 'dept').agg(sum('salary').alias('count_combination')).show()

+------+---------+-----------------+
|salary|     dept|count_combination|
+------+---------+-----------------+
| 70000|marketing|            70000|
| 60000|    sales|            60000|
| 90000|    sales|            90000|
| 50000|       IT|            50000|
| 80000|       IT|            80000|
| 65000|       IT|            65000|
| 55000|marketing|            55000|
| 45000|marketing|            45000|
|100000|       IT|           100000|
| 50000|marketing|            50000|
+------+---------+-----------------+

In [21]:
df.createGlobalTempView('emp_tbl')

In [23]:
spark.sql("""
  select dept, sum(salary) as total_salary
  from global_temp.emp_tbl
  group by dept
""").show()

+---------+------------+
|     dept|total_salary|
+---------+------------+
|marketing|      220000|
|    sales|      150000|
|       IT|      295000|
+---------+------------+