<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

Joins in Spark-

General Expression-

df1.join ( df2,join expression, join type)


Types of Join-

1. Left Join (Includes matching records + Unmatched left table records)

2. Right Join (Includes matching records of inner join + Unmatched right record)

3. Full Outer Join (All records)

4. Left Outer Join

5. Inner Join (All combinations of the records)

6. Left Anti Join (Jo common nhi hai woh records bus)

In [25]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']

spark.createDataFrame(data=customer_data,schema=customer_schema).show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [26]:
sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']

spark.createDataFrame(data=sales_data,schema=sales_schema).show()

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

In [30]:
product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']
product_df=spark.createDataFrame(data=product_data,schema=product_schema)
product_df.show()

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [29]:
customer_df = spark.createDataFrame(data=customer_data, schema=customer_schema)
sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

customer_df.join(sales_df, customer_df["customer_id"] == sales_df["customer_id"], "inner").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [32]:
customer_df.join(sales_df,customer_df['customer_id']==sales_df['customer_id'],"left").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          3|       nikita|  delhi|     25-06-2023|       NULL|      NULL|    NULL|            NULL|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          4|        rahul| ranchi|     24-03-2023|       NULL|      NULL|    NULL|            NULL|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          6|     prantosh|kolkata|     18-10-2022|       NULL|      NULL|    NULL|            NULL|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       NULL|      NULL|    NULL|            NULL|
|          8|      prakash| ranchi|     24-02-2023|       NULL|      NULL|    NULL|            NULL|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [34]:
sales_df.join(customer_df,sales_df['customer_id']==customer_df['customer_id'],"right").show()

+-----------+----------+--------+----------------+-----------+-------------+-------+---------------+
|customer_id|product_id|quantity|date_of_purchase|customer_id|customer_name|address|date_of_joining|
+-----------+----------+--------+----------------+-----------+-------------+-------+---------------+
|          5|        12|       5|      15-04-2023|          5|       mahesh| jaipur|     22-03-2023|
|          5|        22|       1|      22-03-2023|          5|       mahesh| jaipur|     22-03-2023|
|          1|        56|       2|      25-06-2023|          1|       manish|  patna|     30-05-2022|
|          1|        27|       5|      03-02-2023|          1|       manish|  patna|     30-05-2022|
|          1|        22|      10|      01-06-2022|          1|       manish|  patna|     30-05-2022|
|       NULL|      NULL|    NULL|            NULL|          3|       nikita|  delhi|     25-06-2023|
|          2|         1|      12|      15-06-2023|          2|       vikash|kolkata|     12-03-2023|
|          2|         5|       3|      01-06-2023|          2|       vikash|kolkata|     12-03-2023|
|       NULL|      NULL|    NULL|            NULL|          4|        rahul| ranchi|     24-03-2023|
|          7|        22|       4|      03-02-2023|          7|        raman|  patna|     30-12-2022|
|       NULL|      NULL|    NULL|            NULL|          6|     prantosh|kolkata|     18-10-2022|
|          9|         5|       6|      03-03-2023|          9|       ragini|kolkata|     03-03-2023|
|       NULL|      NULL|    NULL|            NULL|         10|      raushan| jaipur|     05-02-2023|
|       NULL|      NULL|    NULL|            NULL|          8|      prakash| ranchi|     24-02-2023|
+-----------+----------+--------+----------------+-----------+-------------+-------+---------------+

In [35]:
customer_df.join(sales_df,customer_df['customer_id']==sales_df['customer_id'],"left_anti").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|         10|      raushan| jaipur|     05-02-2023|
|          8|      prakash| ranchi|     24-02-2023|
+-----------+-------------+-------+---------------+

In [37]:
customer_df.join(sales_df,customer_df['customer_id']==sales_df['customer_id'],"left").select(customer_df['customer_id']).sort(customer_df['customer_id']).show()

+-----------+
|customer_id|
+-----------+
|          1|
|          1|
|          1|
|          2|
|          2|
|          3|
|          4|
|          5|
|          5|
|          6|
|          7|
|          8|
|          9|
|         10|
+-----------+