<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repartition and Coalesce

In [93]:
from pyspark.sql import SparkSession

In [94]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("Read CSV Example") \
    .getOrCreate()

In [95]:
df=spark.read.format("csv") \
   .option("header", "true") \
   .option("inferSchema","true") \
   .load("/content/flight_data.csv")

In [98]:
df=df.rdd.getNumPartitions()

In [100]:
df=spark.read.format("csv") \
   .option("header", "true") \
   .option("inferSchema","true") \
   .load("/content/flight_data.csv")
partitioned_flight=df.repartition(4)

In [101]:
grouped_multi_df = partitioned_flight.groupBy(
    "DEST_COUNTRY_NAME",
    "ORIGIN_COUNTRY_NAME"
).sum("count")

grouped_multi_df.show()

+--------------------+--------------------+----------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|sum(count)|
+--------------------+--------------------+----------+
|       United States|               Egypt|        25|
|       United States|             Algeria|         1|
|       United States|Saint Vincent and...|        16|
|              Russia|       United States|       152|
|Federated States ...|       United States|        46|
|       United States|             Iceland|       129|
|         Netherlands|       United States|       586|
|       United States|          Luxembourg|        90|
|       United States|            Honduras|       393|
|             Senegal|       United States|        29|
|              Angola|       United States|        14|
|       United States|            Suriname|        13|
|       United States|              Mexico|      6220|
|          Costa Rica|       United States|       477|
|             Morocco|       United States|        16|
|       United States|            Thailand|        13|
|       United States|           Venezuela|       341|
|       United States|              Panama|       363|
|           Venezuela|       United States|       377|
|       United States|          Azerbaijan|         1|
+--------------------+--------------------+----------+
only showing top 20 rows

In [102]:
from pyspark.sql.functions import sum

result_df = partitioned_flight.groupBy("DEST_COUNTRY_NAME") \
    .agg(sum("count").alias("total_flights"))

result_df.show()

+--------------------+-------------+
|   DEST_COUNTRY_NAME|total_flights|
+--------------------+-------------+
|            Malaysia|            1|
|              Turkey|           75|
|             Germany|         1392|
|              France|          774|
|              Greece|           50|
|British Virgin Is...|           49|
|   Equatorial Guinea|            1|
|            Slovakia|            1|
|             Belgium|          408|
|           Nicaragua|          178|
|       United States|       384932|
|          Martinique|           23|
|             Nigeria|           16|
|             Bolivia|           46|
|            Suriname|           12|
|              Norway|           29|
|                Cuba|          243|
|             Denmark|           98|
|            Thailand|           16|
|           Hong Kong|          252|
+--------------------+-------------+
only showing top 20 rows

In [103]:
coalesced_flight = df.coalesce(1)

In [104]:
coalesced_flight.rdd.getNumPartitions()

1

In [105]:
from pyspark.sql.functions import sum

grouped_df = coalesced_flight.groupBy("DEST_COUNTRY_NAME") \
    .agg(sum("count").alias("total_flights"))

grouped_df.show()

+--------------------+-------------+
|   DEST_COUNTRY_NAME|total_flights|
+--------------------+-------------+
|       United States|       384932|
|               Egypt|           24|
|   Equatorial Guinea|            1|
|          Costa Rica|          477|
|             Senegal|           29|
|              Guyana|           17|
|               Malta|            1|
|             Bolivia|           46|
|            Anguilla|           21|
|Turks and Caicos ...|          136|
|Saint Vincent and...|            1|
|               Italy|          390|
|            Pakistan|            9|
|             Iceland|          118|
|    Marshall Islands|           77|
|          Luxembourg|           91|
|            Honduras|          391|
|         The Bahamas|          903|
|         El Salvador|          519|
|               Samoa|           28|
+--------------------+-------------+
only showing top 20 rows

In [106]:
grouped_multi_df = coalesced_flight.groupBy(
    "DEST_COUNTRY_NAME",
    "ORIGIN_COUNTRY_NAME"
).agg(sum("count").alias("total_flights"))

grouped_multi_df.show()

+--------------------+-------------------+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|total_flights|
+--------------------+-------------------+-------------+
|       United States|            Romania|            1|
|       United States|            Ireland|          264|
|       United States|              India|           69|
|               Egypt|      United States|           24|
|   Equatorial Guinea|      United States|            1|
|       United States|          Singapore|           25|
|       United States|            Grenada|           54|
|          Costa Rica|      United States|          477|
|             Senegal|      United States|           29|
|       United States|   Marshall Islands|           44|
|              Guyana|      United States|           17|
|       United States|       Sint Maarten|           53|
|               Malta|      United States|            1|
|             Bolivia|      United States|           46|
|            Anguilla|      United States|           21|
|Turks and Caicos ...|      United States|          136|
|       United States|        Afghanistan|            2|
|Saint Vincent and...|      United States|            1|
|               Italy|      United States|          390|
|       United States|             Russia|          156|
+--------------------+-------------------+-------------+
only showing top 20 rows