<a href="https://colab.research.google.com/github/t-abs/Apache-Spark/blob/main/Pyspark_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

Window Function in Spark

In [2]:
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema = ['emp_id','emp_name','salary','dept','gender']

emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df.show()

+------+--------+------+---------+------+
|emp_id|emp_name|salary|     dept|gender|
+------+--------+------+---------+------+
|     1|  manish| 50000|       IT|     m|
|     2|  vikash| 60000|    sales|     m|
|     3| raushan| 70000|marketing|     m|
|     4|  mukesh| 80000|       IT|     m|
|     5|   priti| 90000|    sales|     f|
|     6|  nikita| 45000|marketing|     f|
|     7|  ragini| 55000|marketing|     f|
|     8|   rashi|100000|       IT|     f|
|     9|  aditya| 65000|       IT|     m|
|    10|   rahul| 50000|marketing|     m|
|    11|   rakhi| 50000|       IT|     f|
|    12|akhilesh| 90000|    sales|     m|
+------+--------+------+---------+------+

In [6]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,rank,dense_rank,percent_rank,ntile,cume_dist,col
Window = Window.partitionBy("dept").orderBy(col("Salary"))

(emp_df
.withColumn("row_number",row_number().over(Window))
.withColumn("rank",rank().over(Window))
.withColumn("dense_rank",dense_rank().over(Window))
.show())

+------+--------+------+---------+------+----------+----+----------+
|emp_id|emp_name|salary|     dept|gender|row_number|rank|dense_rank|
+------+--------+------+---------+------+----------+----+----------+
|     1|  manish| 50000|       IT|     m|         1|   1|         1|
|    11|   rakhi| 50000|       IT|     f|         2|   1|         1|
|     9|  aditya| 65000|       IT|     m|         3|   3|         2|
|     4|  mukesh| 80000|       IT|     m|         4|   4|         3|
|     8|   rashi|100000|       IT|     f|         5|   5|         4|
|     6|  nikita| 45000|marketing|     f|         1|   1|         1|
|    10|   rahul| 50000|marketing|     m|         2|   2|         2|
|     7|  ragini| 55000|marketing|     f|         3|   3|         3|
|     3| raushan| 70000|marketing|     m|         4|   4|         4|
|     2|  vikash| 60000|    sales|     m|         1|   1|         1|
|     5|   priti| 90000|    sales|     f|         2|   2|         2|
|    12|akhilesh| 90000|    sales|     m|         3|   2|         2|
+------+--------+------+---------+------+----------+----+----------+

In [8]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,rank,dense_rank,percent_rank,ntile,cume_dist,col, desc
window_spec_desc = Window.partitionBy("dept").orderBy(desc("Salary"))

(emp_df
.withColumn("row_number",row_number().over(window_spec_desc))
.withColumn("rank",rank().over(window_spec_desc))
.withColumn("dense_rank",dense_rank().over(window_spec_desc)).filter(col("dense_rank") < 2)
.show())

+------+--------+------+---------+------+----------+----+----------+
|emp_id|emp_name|salary|     dept|gender|row_number|rank|dense_rank|
+------+--------+------+---------+------+----------+----+----------+
|     8|   rashi|100000|       IT|     f|         1|   1|         1|
|     3| raushan| 70000|marketing|     m|         1|   1|         1|
|     5|   priti| 90000|    sales|     f|         1|   1|         1|
|    12|akhilesh| 90000|    sales|     m|         2|   1|         1|
+------+--------+------+---------+------+----------+----+----------+